<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('./partials/nav.ejs', {user:user}) %>
    <main class="container">
      <% if(user) { %>
        <a href="/create-post" class="btn create-btn">Share what's on your mind</a>
        <%}%>
          <% posts.forEach(post=> { %>
            <%- include('./partials/post-card.ejs', {user:user,post:post}) %>
              <%}) %>
    </main>
</body>

</html>