<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs', {user:undefined}) %>
        <div class="center">
            <section class="container-small vibrate">
                <div class="card">
                    <img src="images/confused.svg" alt="Confused Emoji" class="error-img">
                    <h2>No User found with given credentials !</h2>
                </div>
            </section>
        </div>
</body>

</html>