<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs', {user:undefined}) %>
        <main class="container-small">
            <div class="form-container">
                <h2 class="form-header">Members Only Login !</h2>
                <img src="/images/spy.svg" alt="" class="form-img">
                <form action="" method="POST">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" required placeholder="Enter Username">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" required placeholder="Enter Password">
                    <button type="submit" class="btn form-btn">Log in</button>
                </form>
            </div>
        </main>
</body>

</html>